<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <script type="text/javascript" src="js/script.js"></script>
    <div class="container" ng-app="myShoppingList" ng-controller="myCtrl">
        <div style="padding: 5px;display: flex;">
                <img src="images/people.png" width="40px" height="40px"><span style="color: steelblue;font-size: 30px;">Choose number of <strong>people</strong></span>
        </div>
        
        <div class="content">
            <ul>
                <li>
                    ROOMS
                    <div style="float: right;display: flex;">
                        <div class="pointer" ng-disabled="true" ng-click="addRoom('minus')">
                            <img src="images/minus.png">
                        </div>
                        <span>{{noofRooms}}</span>
                        <div class="pointer" ng-class="{blocked: noofRooms == '4'}" ng-click="addRoom('plus')">
                                <img src="images/plus.png">
                        </div>
                    </div>

                </li>
                <li>ADUlTS
                    <div style="float: right;display: flex;">
                        <div class="pointer" ng-class="{blocked: noofAdults == '1'}" ng-click="addAdults('minus')">
                            <img src="images/minus.png">
                        </div>
                        <span>{{noofAdults}}</span>
                        <div class="pointer"  ng-class="{blocked: noofAdults == '4'}"ng-click="addAdults('plus')">
                                <img src="images/plus.png">
                        </div>
                    </div>
                </li>
                <li>CHILDREN
                    <div style="float: right;display: flex;">
                        <div class="pointer" ng-class="{blocked: noofChildren == '0'}" ng-click="addChildren('minus')">
                            <img src="images/minus.png">
                        </div>
                        <span>{{noofChildren}}</span>
                        <div class="pointer" ng-class="{blocked: noofChildren == '3'}" ng-click="addChildren('plus')">
                                <img src="images/plus.png">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>



</body>

</html>